<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>首页</string>
		<key>normal</key>
		<string>icon_tabbar_onsite_selected</string>
		<key>selected</key>
		<string>icon_tabbar_onsite</string>
		<key>name</key>
		<string>HomeController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>商家</string>
		<key>normal</key>
		<string>icon_tabbar_merchant_selected</string>
		<key>selected</key>
		<string>icon_tabbar_merchant_normal</string>
		<key>name</key>
		<string>MerchantsController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我的</string>
		<key>normal</key>
		<string>icon_tabbar_mine_selected</string>
		<key>selected</key>
		<string>icon_tabbar_mine</string>
		<key>name</key>
		<string>MineController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>更多</string>
		<key>normal</key>
		<string>icon_tabbar_misc_selected</string>
		<key>selected</key>
		<string>icon_tabbar_misc</string>
		<key>name</key>
		<string>MoreController</string>
	</dict>
</array>
</plist>
